#forgot-password {
    min-height: 80vh;
    position: relative;
    form {
      background-color: white;
      width: 25vw;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -60%);
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      padding: 40px 25px;
      border-radius: 10px;
      label {
        display: block;
        font-size: 14px;
        font-weight: 400;
        color: #505050;
        padding: unset;
        margin: 0 0 8px 0;
        span {
          color: red;
        }
      }
      input {
        width: 100%;
        caret-color: #8a79f0;
        padding: 8px 16px;
        border: 1px solid #e7e7e7;
        border-radius: 999px;
        text-align: unset;
        box-sizing: border-box;
        &:focus {
          border-color: none;
          box-shadow: none;
        }
      }
      a {
        font-size: 14px;
        font-weight: 700;
        color: #1b1b1b;
        text-decoration-line: underline;
      }
    }
  }
  